.input {
  height: 51px;
  border: 1px rgba(239, 239, 239, 1) solid;
  border-radius: 10px;
  padding: 0 15px 0 30px;
  background: url('/src/assets/search-icon.svg') no-repeat 10px center;
}

.input:focus::placeholder {
  color: transparent;
}